Model training/Face identification/model_h5_format/*.h5
Model training/Face identification/model_h5_formatF-trainer
Model training/Face identification/dataset/
app/static/
raspberry pi codes/models
Model training/Handwriting recognition/img/
run.cmd
*/__pycache__/*
__pycache__/
Model training/Handwriting recognition/model_h5_format/
Model training/Handwriting recognition/dataset/
Model training/Handwriting recognition/.ipynb_checkpoints/
Model training/Face identification/data_augmentation.png
Model training/Face identification/cascades/
.vscode/
2nd version/static/deep_learning_models
Model training/Face identification/data.pickle/
*/.ipynb_checkpoints\facial-recognition-checkpoint.ipynb

audio.mp3

.gitignore